table {width: 100%; border-collapse: separate; border-spacing: 0; margin-bottom: 50px;}
table td {padding: 12px 16px; text-align: center;}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb; font-family: Khand-light; text-align: center; background-color: rgb(235, 241, 245); font-size: 20px;}
table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr:hover {background: #f1f4f5;}

.order-table tr:hover {background: none;}
.order-table{
  border-bottom: 0px;
  margin: 20px 50px;
  padding: 0px;

}

.order-table tr{
  border-bottom: 0px;

}
.order-table td {
  padding: 12px 5px;
  text-align: left;
}

.edit-table {
  margin: 20px 50px;
  padding: 0px;
  width: 60%;
}

.edit-table td {
  padding: 12px 5px;
  text-align: left;
}

.edit-table td:last-of-type{
  text-align: right;
  padding-left: 0px;
}


.btn btn-success {
    border-radius: 50%;
    color:#167B91;
}

.round-button {
    border-radius: 8px;
    background-color:#167B91;
    color: white;
    font-weight: 600;

}


.edit-button {
  border-radius: 8px;
  background-color:#167B91;
  color: white;
  font-weight: 600;
  mask-image: url('static/img/edit-24px.svg');
}

.small-button {
    border-radius: 8px;
    background-color:#167B91;
    color: white;
    font-weight: 600;

}

.small-table {

    margin: 20px 0px;
    padding: 0px;
    width: 100%;
}

.small-table td {
    font-size: 18px;
    padding: 5px 15px;
}



.profile-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
}

.profile {
    margin: 20px;
    grid-column: span 6;
}

.inc {
    margin: 20px;
    grid-column: span 3;
}

.gray-title {
    color:rgb(196, 203, 207);
    font-weight: 600;

}

h4 {
    font-family: Khand;
    font-weight: 800;
    font-size: 50px;
}

h3 {
  font-family: Khand-light;
  font-size: 30px;
}

input {
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

textarea {
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}


/* #CCD3D8 */
/* Базовый контейнер табов */
.tabs {
    width: 800px;
    padding: 0px;
    margin: 0 auto; 
  }
  /* стили секций с содержанием */
  section {
    display: none;
    
  }
  .tabs input {
    display: none;
  }
  /* стили вкладок (табов) */
  .tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
  }
  /* шрифт-иконки от Font Awesome в формате Unicode */
  .tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  .tabs label[for*="1"]:before {
    content: "\f19a";
  }
  .tabs label[for*="2"]:before {
    content: "\f17a";
  }
  .tabs label[for*="3"]:before {
    content: "\f13b";
  }
  .tabs label[for*="4"]:before {
    content: "\f13c";
  }
  /* изменения стиля заголовков вкладок при наведении */
  .tabs label:hover {
    color: #888;
    cursor: pointer;
  }
  /* стили для активной вкладки */
  .tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
  }
  /* активация секций с помощью переключателя :checked */
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }
  /* медиа запросы для различных типов носителей */  
  @media screen and (max-width: 680px) {
    .tabs label {
      font-size: 0;
    }
   
    .tabs label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 400px) {
    .tabs label {
      padding: 15px;
    }
  }