<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('edit_type', id=type.id) }}" method='POST'>
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label() }}</td>
            <td>{{ field() }}</td>
        </tr>
        {% endfor %}
    </table>

    <button type='submit' class="btn btn-success" style="background-color:#167B91;">Save</button>
</form>
{% endblock %}

       