<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
{% extends "base.html" %}
{% block content %}

<h1>Schedule</h1>
<table>
    <thead>
        <tr>
            <td>Type</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
            <td>Sun</td>
        </tr>
    </thead>
        {% for type in active %}
    <tr>
        <td>{{ type.typeName }}</td>
        {% for item in type.schedule_items|sort(attribute='dayOfWeek') %}
        <form action="{{ url_for('edit_scheduleItem', id = item.id), }}" method='POST'>
        <td>{% for channel in item.channels %}
            {{ channel.Users.fullName }} ({{ channel.channel_source_type }})
            {% endfor %}
            <button type="submit" class="round-button" style="background-color:#167B91;" > <img src="/static/img/edit-24px.svg">
            </button>
        </td>
    </form>
        {% endfor %}

    </tr>
{% endfor %}

<p>{{ scheduleItem.channels }}</p>
 

{% endblock %}