<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
{% extends "base.html" %}
{% block content %}

    <h1>Editing {{ type.typeName }} type</h1>
    <form action="{{ url_for('edit_type', id=type.id) }}" method='POST'>
        <table class="edit-table">
            {% for field in form %}
                <tr>
                    <td>{{ field.label() }}</td>
                    <td>{{ field() }}</td>
                </tr>
            {% endfor %}
        </table>

        <div style="margin-left: 50px;">
            <button type="button" class="btn btn-success" style="background-color:#167B91;" onclick="history.back();">
                Back
            </button>

            <button type='submit' class="btn btn-success" style="background-color:#167B91;">Save</button>
        </div>
    </form>
{% endblock %}

       