{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">


    <h1>Information about incident with id= {{ incident.id }}</h1>
    {% set num=option_list|length %}
    <form action="{{ url_for('show_incident', id = incident.id) }}" method="POST">
        <table class="edit-table">
            <tr> 
                <td>Status</td>
                {% if incident.status=='Complete' %}
                    <td>{{ incident.status }}</td>
                {% elif num==0  %}
                <td>{{ incident.status }}</td>
                {% else %}

                    <td>
                        <select name="option" id="Option" width="300px" onchange="OnSelectionChange (this)">
                            {% for o in option_list %}
                                <option value="{{ o }}" SELECTED>{{ o }}</option>
                                {% set value = o %}

                            {% endfor %}

                        </select>

                    </td>
                {% endif %}


            </tr>
           
            
            <tr>
                <td>Postponed time</td>
                <td>
                    <input  id="time_postponed" disabled="disabled" name="time" type="text" size="5" style="width: 50px;"> days
                </td>
            </tr>

            {% if incident.status=='Postponed' %}
                <tr>
                    <td>Postponed to</td>
                    <td>{{ moment(incident.postponed_to).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Type</td>
                <td>{{ incident.TypeOfIncident.typeName }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ incident.TypeOfIncident.description }}</td>
            </tr>

            <tr>
                <td>Start</td>
                <td>{{ moment(incident.start).format('MMMM Do YYYY, h:mm:ss a') }}</td>
            </tr>
            <tr>
                <td>End</td>
                {% if incident.end==None %}
                    <td>Ты еще не устранил инцидент!</td>
                {% else %}
                    <td>{{ moment(incident.end).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>User</td>
                <td>{{ incident.Users.fullName }}</td>
            </tr>
            <tr>
                <td>Alerts</td>
                <td>{% for alert in incident.alerts %}
                    {% for label in alert.labels %}
            #{{ label.Value }}
        {% endfor %}
                {% endfor %}
                </td>
            </tr>
        </table>

        <div style="margin-left: 50px;">
            <a href="{{ url_for('show_incidents', filter='all') }}" method='GET'>
                <button type="button" class="btn btn-success" style="background-color:#167B91;" >Back
                </button>
            </a>


            {% if incident.status!='Complete' %}

                <button type='submit' class="btn btn-success" style="background-color:#167B91;">Save</button>
                </div>
            {% endif %}
    </form>

    <script type="text/javascript">
        function OnSelectionChange (select) {
            
            var selectedOption = select.options[select.selectedIndex].value;

            var PostTime = document.getElementById("time_postponed");
            if (selectedOption == "Postponed"){
                PostTime.disabled =0;
       }
            else {
                PostTime.disabled =1;
            }
        }
    </script>

{% endblock %}