{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">

<h1>Information about incident with id= {{ incident.id }}</h1>

<form action="{{ url_for('show_incident', id = incident.id) }}" method="POST">
<table>
    <tr>
        <td>Status</td>
            {% if incident.status=='Done' %}
                <td>{{ incident.status }}</td>
            {% else %}
            
            <td>
            <select name="option" width="300px">
                {% for o in option_list %}
            
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                     {% if o == 'Postponed' %}
                        <p>Choose time</p>
                    {% endif %}  
                {% endfor %}
            </select>
            Postponed time
            {% if incident.postponed_time==None %}
            <input name="time" type="text" size="5"> days
            {% else %}
            <input name="time" type="text" size="5" value="{{ incident.postponed_time }}""> days {% endif %} 
            </td>
                
                {% endif %}
                
   
    </tr>
    {% if incident.status=='Postponed' %}
    <tr>
        <td>Postponed to</td>
        <td>{{ moment(incident.postponed_to).format('MMMM Do YYYY, h:mm:ss a') }}</td>
    </tr>
            {% endif %}
    <tr>
        <td>Type</td>
        <td>{{ incident.TypeOfIncident.typeName }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ incident.TypeOfIncident.description }}</td>
    </tr>

    <tr>
        <td>Start</td>
        <td>{{ moment(incident.start).format('MMMM Do YYYY, h:mm:ss a') }}</td>
    </tr>
    <tr>
        <td>End</td>
        {% if incident.end==None %}
            <td><p>Ты еще не устранил инцидент!</p></td>
        {% else %}
            <td>{{ moment(incident.end).format('MMMM Do YYYY, h:mm:ss a') }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>User</td>
        <td>{{ incident.Users.fullName }}</td>
    </tr>
    <tr>
        <td>Alerts</td>
        <td>{% for alert in incident.alerts %}
            [ {{ alert.service }}, {{ alert.severity }}]
            <!-- <b>#{{ alert.service }}</b>
            <b>#{{ alert.severity }}</b> -->
            {% endfor %}
        </td>
    </tr>
</table>

<a href="{{ url_for('show_incidents') }}" method='GET'>
    <button type="button" class="btn btn-success" style="background-color:#167B91;" >Back
    </button>
</a>
{% if incident.status!='Done' %}
            

    <button type='submit' class="btn btn-success" style="background-color:#167B91;">Save</button>

{% endif %}
</form>
    

{% endblock %}