<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
{% extends "base.html" %}
{% block content %}
<h2>Incidents</h2>

<h3>Incidents list</h3>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Status</td>
        <td>Type</td>
        <td>Start</td>
        <td>End</td>
        <td>Alerts</td>
    </tr>
</thead>
{% for incident in incidents %}
    <tr>
        <td><a href="{{ url_for('show_incident', id = incident.id) }}">{{ incident.id }}</a></td>
        <td>{{ incident.status }}</td>
        <td>{{ incident.TypeOfIncident.typeName }}</td>
        <td>{{ incident.start }}</td>
        {% if incident.end==None %}
            <td><p>Ты еще не устранил инцидент!</p></td>
        {% else %}
            <td>{{ incident.end }}</td>
        {% endif %}
        <td>{% for alert in incident.alerts %}
            <b>#{{ alert.service }}</b>
            <b>#{{ alert.severity }}</b>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}