<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% extends "base.html" %}

{% block login %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}

        {% endif %}
    {% endwith %}
    <ul class="upnav">
        <li class="logo"><p style="float:left" class="logo" href="">AlertApp</p></li>

    </ul>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form" method="POST">
                    <h1 class="tit" style="text-align: center;color:rgb(13, 77, 92);">Login</h1>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="user" placeholder="Username">
                    </div>
                    <div class="wrap-input100"
                    ">
                    <input class="input100" type="password" name="password" placeholder="Password">
            </div>
            <div class="container-login100-form-btn">
                <button>
                    Login
                </button>
            </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}