<html >
  <head>
    <title>AlertApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <style>

         @font-face {
          font-family: PostNoBillsJaffna; /* Гарнитура шрифта */
          src: url(/static/fonts/PostNoBillsJaffna-Regular.ttf);
         }
         
      </style>
    <body>
        <ul class="upnav"> 
            <li  class="logo"><p style="float:left" class="logo" href="">AlertApp</p></li>
            
        </ul>

          <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form" method="POST">
                        <div class="wrap-input100" >
                            <input class="input100" type="text" name="user" placeholder="Username">
                        </div>
                        <div class="wrap-input100" ">
                            <input class="input100" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="container-login100-form-btn">
                            <button>
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    
    </body>
