<link rel="stylesheet" href="{{ url_for('static', filename='incidents.css') }}">
{% extends "base.html" %}
{% block content %}

    {% set all_user=incidents|length %}


    {% set work=incidents|selectattr('status', '==', 'Work-in-progress')|list %}
    {% set work_num=work|length %}


    {% set complete=incidents|selectattr('status', '==', 'Complete')|list %}
    {% set complete_num=complete|length %}

    {% set postponed=incidents|selectattr('status', '==', 'Postponed')|list %}

    {% set postponed_num=postponed|list|length %}


    <div class="profile-container">
        <div class="profile">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ user.fullName }}</h1>
                    {% include 'channels.html' %}
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Statistic</h1>
                </div>
            </div>
        </div>
    </div>

    
        <div class="profile-container">
            {% if all != 0 %}
            <div class="inc">
                <div class="card">
                    <div class="card-body">
                        <p class="gray-title">All your incidents</p>
                        <h4 class="card-title" style="padding-left: 30px;"><a style="color: #ffdb3d;"
                                                  href="{{ url_for('profile_info', query = 'all') }}">{{ all_user }}</a>
                        </h4>
                        <p class="black-title">{{ (all_user/all*100)|round(1) }}% of all incidents</p>
                    </div>
                </div>
                {% endif %}
                
            </div>
            {% if all_user != 0 %}
            <div class="inc">
                <div class="card">
                    <div class="card-body">
                        <p class="gray-title">Your work-in-progress incidents</p>
                        <h4 class="card-title" style="padding-left: 30px;"><a style="color: #a366ff;"
                                                  href="{{ url_for('profile_info', query = 'work') }}">{{ work_num }}</a>
                        </h4>
                        <p class="black-title">{{ (work_num/all_user*100)|round(1) }}% of all your incidents</p>
                    </div>
                </div>
            </div>
            <div class="inc">
                <div class="card">
                    <div class="card-body">
                        <p class="gray-title">Your postponed incidents</p>
                        <div>
                            <h4 class="card-title" style="padding-left: 30px;"><a style="color: rgb(18, 185, 223);"
                                                      href="{{ url_for('profile_info', query = 'postponed') }}">{{ postponed_num }}</a>
                            </h4>
                            <p class="black-title">{{ (postponed_num/all_user*100)|round(1) }}% of all your incidents</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inc">
                <div class="card">
                    <div class="card-body">
                        <p class="gray-title">Your complete incidents</p>
                        <h4 class="card-title" style="padding-left: 30px;"><a style="color: #3dff9e;"
                                                  href="{{ url_for('profile_info', query = 'complete') }}">{{ complete_num }}</a>
                        </h4>
                        <p class="black-title">{{ (complete_num/all_user*100)|round(1) }}% of all your incidents</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    
{% endblock %}


